version: "3"

services:
  app-user:
    build:
      context: ./../user_service # necessary because otherwise docker-compose overrides the context path when merging multiple docker-compose.yml files
      dockerfile: Dockerfile
    restart: always
    container_name: user_service
    expose:
      - 5000
      - 5001
    ports:
      - "5000:5000"
      - "5001:5001"
  dapr-user:
    image: "daprio/daprd"
    command: [
      "./daprd",
      "--app-id", "user_service",
      "--app-port", "5001",
      "--dapr-http-port", "5000",
      "--resources-path", "./components"
    ]
    volumes:
      - "./../user_service/components/:/components" # Mount our components folder for the runtime to use. The mounted location must match the --resources-path argument.
    depends_on:
      - app-user
      - redis
    network_mode: "service:app-user"
  redis:
    image: "redis:alpine"
    expose:
      - "6379"
volumes:
  userdata:
  testdata:
networks:
  default:
    name: dapr-network
    external: true